.add-button{
    text-decoration: none;
    color:  white !important;
    opacity: 0.6;
    width: 80%;
    background-color: #522c5d !important;
}
.add-button:hover{
    transform: scale(1.05);
    opacity: 1;
}
.add-info{
    margin: 0;
    padding: 0;
}